# === Monorepo general ===
**/node_modules/
**/dist/
**/build/
**/tmp/
**/.temp/
**/.tmp/

# === Logs ===
**/*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Environment variables ===
**/.env
**/.env.*

# === OS ===
**/.DS_Store

# === NestJS ===
**/.nest/
**/coverage/

# === Vite / React ===
**/.vite/
